#mobil_vertical{display:none;}
#mobil_horizontal{display:none;}
#tablet_vertical{display:none;}
#tablet_horizontal{display:none;}
#escritorio{display:none;}

/*==================General styling for all devices=============*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: left;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}
    /* Home page styling */
    #home{
        display: contents;
    }
        
        .album {
            padding: 80px 0px 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px;
        }

            .card {
                background-color: white;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin: 10px;
                padding: 20px 20px 40px;
                width: 100%;
            }

            .card h2 {
                position: relative;
                left: 0%;
                margin: 0 0 10px;
                font-size: 24px;
            }

            .card p {
                text-align: justify;
                margin: 0 0 15px;
                font-size: 16px; 
            }

            .card button {
                background-color: #007BFF;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

    /* Alerts page styling */
    #alerts {
        display: none;
        background-color: #f0f0f0;
        padding: 20px;
        margin: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
        .notifications {
            padding: 110px 10px 75px;
            display: grid;
            grid-template:"div";
            gap: 10px;
        }
        
        .notification {
            background-color: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .notification h2 {
            color: #333;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
        
        .notification p {
            color: #666;
            font-size: 1rem;
            line-height: 1.4;
        }
    

    /* Navigation bar styling */
    #nav {
        position:fixed;
        bottom: 0%; 
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #333;
        padding: 10px 0;
    }

        .nav-item {
            padding: 10px 20px;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .nav-item:hover {
            background-color: #575757;
        }

        .nav-item h3 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
        }

/*================== Mobile vertical styling =============*/
@media only screen and (max-width: 480px) and (orientation: portrait) and (pointer: coarse) and (hover: none){
    #mobil_vertical{
        display: contents;
    }
} 

/*================== Mobile horizontal styling =============*/
@media only screen and (max-height: 480px) and (orientation: landscape) and (pointer: coarse) and (hover: none){
    #mobil_horizontal{
        display:contents;
    }

    header{
        padding: 8px;
        text-align: left;
        z-index: 1;
    }

    header h1 {
        font-size: 30px;
    }

    .album{
        padding: 50px 0px 30px;
    }

    .notifications {
        padding: 80px 10px 60px;
    }

    /* Navigation bar styling */
    #nav {
        padding: 1px 0;
    }

}

/*================== Tablet vertical styling =============*/
@media only screen and (min-width: 481px) and (orientation: portrait) and (pointer: coarse) and (hover: none){
    #tablet_vertical{
        display:contents;
    }    
}

/*================== Tablet horizontal styling =============*/
@media only screen and (min-height: 481px) and (orientation: landscape) and (pointer: coarse) and (hover: none){
    #tablet_horizontal{
        display:contents;
    }

    header{
        padding: 8px;
        text-align: left;
        z-index: 1;
    }

    header h1 {
        font-size: 30px;
    }
    
    .album{
        padding: 50px 0px 30px;
    }

    .notifications {
        padding: 80px 10px 60px;
    }

    /* Navigation bar styling */
    #nav {
        padding: 1px 0;
    }
}

/*================== Desktop styling =============*/
@media (hover:hover){
    #escritorio{
        display:contents;
    }

    .card button:hover {
        background-color: #0056b3;
    }
}
  
  
  
